h1 {
    color: red;
    text-align: center;
}

.container a {
    position: relative;
    color: #f40303;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container a:hover {
    background: #ff0000;
    color: #ffcf11;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0202, 0 0 20px #ff0000;
}

.container button {
    position: relative;
    color: #f40303;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background: #ff0000;
    color: #ffcf11;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0202, 0 0 20px #ff0000;
}
  